---
title: 'Leistungen'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'leistungen/'
eleventyNavigation:
    key: Leistungen
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/leistungen.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Leistungen</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero/banner_dentist.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>


    <!-- ============================================ -->
    <!--                 Side By Side 1               -->
    <!-- ============================================ -->
    <a id="zahnreinigung"></a> <!-- ID used as internal link --> 
    <section id="RPsbs-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/zahnreinigung.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/zahnreinigung.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/zahnreinigung.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Professionelle Zahnreinigung</h2>
                <p class="cs-text">
                    Unsere oberste Priorität liegt auf der Erhaltung Ihrer Zahngesundheit. Mit unserem umfassenden Prophylaxeprogramm möchten wir Karies und Parodontitis vorbeugen, um den Verlust von Zahnsubstanz oder des Zahnhalteapparates zu verhindern. <br><br>
                    Durch den Einsatz modernster Hilfsmittel und Instrumente reinigen wir Zähne und Zahnfleisch gründlich, um ihre Gesundheit zu bewahren. Unsere speziell geschulten Mitarbeiter führen die Zahnreinigung durch und passen sie individuell an Ihre Bedürfnisse an.
                </p>
                <!-- Taken from RPsbs-1472 -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Individuelle Beratung zur häuslichen Mundhygienetechnik
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Professionelle Zahnreinigung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Nachsorge nach Parodontitisbehandlung
                    </li>
                </ul>
                <!--<a class="cs-button-solid" aria-label="learn more about our programs" href="">Details zur Behandlung</a>-->
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--             Side By Side Reverse 2           -->
    <!-- ============================================ -->
    <a id="bleaching"></a> <!-- ID used as internal link -->
    <section id="RPsbsr-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/bleaching.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/bleaching.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/bleaching.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Bleaching</span>
                <h2 class="cs-title">Bleaching</h2>
                <p class="cs-text">
                    Durch den Konsum von Tee, Kaffee, Nikotin, Rotwein oder anderen äußeren Einflüssen gelangen Farbstoffe in die äußere Schicht der Zähne, was zu einer Verdunkelung der natürlichen Zahnfarbe führt. Mithilfe eines professionellen Bleachings können diese Verfärbungen schonend entfernt werden, um die Zähne aufzuhellen. Selbst von Natur aus dunklere Zähne können durch dieses Verfahren aufgehellt werden.<br><br>
                    Unser Fokus liegt auf der Sicherheit und Qualität unserer Produkte. Daher verwenden wir ausschließlich Philips ZOOM für unser Bleaching. Das sanfte Bleaching-Gel wird durch eine speziell konzipierte Lampe aktiviert, was zu einer verkürzten Einwirkzeit und einer besonders schonenden Aufhellung führt.
                </p>
                <!-- <a class="cs-button-solid" aria-label="learn more about our programs" href="">Details</a> -->
            </div>
        </div>
    </section>
                                    

    <!-- ============================================ -->
    <!--                 Side By Side 3               -->
    <!-- ============================================ -->
    <a id="wurzelkanal"></a> <!-- ID used as internal link -->
    <section id="RPsbs-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/wurzelkanalbehandlung.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/wurzelkanalbehandlung.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/wurzelkanalbehandlung.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Wurzelkanalbehandlung</h2>
                <p class="cs-text">                  
                    Eine Wurzelkanalbehandlung ist unvermeidlich, um einen Zahn bei akuten oder chronischen Entzündungen des Zahnnervs zu erhalten. Dabei wird das geschädigte und entzündete Gewebe entfernt, das Wurzelkanalsystem gereinigt und desinfiziert, bevor es mit einem speziellen Füllmaterial versiegelt wird, um erneute Entzündungen zu verhindern.<br><br>
                    Durch den Einsatz moderner maschineller Aufbereitungssysteme und ultraschallaktivierter Desinfektionslösungen können wir das Wurzelkanalsystem gründlich und effizient reinigen. In komplexen Fällen nutzen wir auch ein Operationsmikroskop, um eine bessere Sicht und präzisere Behandlung zu gewährleisten, was sogar feinste Kanalstrukturen erfolgreich behandeln lässt.<br><br>
                    Um den Zahn langfristig zu erhalten, kann nach einer erfolgreichen Wurzelkanalbehandlung oft die Versorgung mit einem Stift und einer Krone empfehlenswert sein.
                </p>
                <!-- Taken from RPsbs-1472 -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Verwendung von Lupenbrillen für präzises Arbeiten
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Einsatz eines Operationsmikroskops bei Bedarf
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Maschinelle Aufbereitung der Wurzelkanäle
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Nutzung von Kofferdam für sauberes und präzises Arbeiten
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Reduzierung von Röntgenbildern und Strahlenbelastung durch elektrometrische Längenbestimmung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        MVerwendung von ultraschallaktivierten Spüllösungen zur effizienteren Desinfektion
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Durchführung von Revisionen zur Erneuerung alter oder unzureichender Wurzelfüllungen
                    </li>
                </ul>
                <!-- <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> -->
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--             Side By Side Reverse 4           -->
    <!-- ============================================ -->
    <a id="parodontitis"></a> <!-- ID used as internal link -->
    <section id="RPsbsr-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/parodontitis.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/parodontitis.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/parodontitis.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Parodontitisbehandlung</h2>
                <p class="cs-text">                    
                    Parodontitis ist eine entzündliche Erkrankung des Zahnhalteapparats, die im Laufe der Zeit zu einem Rückgang der Verankerung des Zahns führt, insbesondere von Zahnfleisch und Knochen. Dies kann zu locker werdenden Zähnen bis hin zum Zahnverlust führen und das gesamte Herz-Kreislaufsystem durch die chronische Entzündung belasten.<br><br>
                    Frühe Stadien dieser Krankheit verlaufen oft ohne erkennbare Symptome oder Schmerzen, wodurch der Patient Parodontitis anfangs selten bemerkt.<br><br>
                    Durch regelmäßige Untersuchungen können diese frühen Stadien rechtzeitig erkannt und behandelt werden. Selbst in fortgeschrittenen Fällen ist es möglich, den langfristigen Erhalt der Zähne durch gezielte Behandlungsansätze zu sichern.<br><br>
                    Gemeinsam mit Ihnen entwickeln wir einen individuellen Behandlungs- und Nachsorgeplan, um das Fortschreiten der Erkrankung zu verhindern und Rückfälle zu minimieren.
                </p>
                <!-- Taken from RPsbs-1472 -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Früherkennung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Vorbehandlung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Parodontale Basisbehandlung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Nachsorge
                    </li>
                </ul>
                <!-- <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> -->
            </div>
        </div>
    </section>



    <!-- ============================================ -->
    <!--                 Side By Side 5               -->
    <!-- ============================================ -->
    <a id="implantate"></a> <!-- ID used as internal link -->
    <section id="RPsbs-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/implantate.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/implantate.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/implantate.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Implantate</h2>
                <p class="cs-text">                   
                    Implantate gelten heute als zuverlässige und ästhetisch ansprechende Lösung für Zahnersatz. Insbesondere beim Verlust einzelner Zähne bieten sie eine funktionale und ästhetisch hochwertige Möglichkeit, die Lücken zu schließen. Im Gegensatz zu herkömmlichen Brücken ermöglichen Implantate den Erhalt benachbarter Zähne, da sie nicht für die Verankerung bearbeitet werden müssen, was den Verlust gesunder Zahnsubstanz verhindert. Auch bei größeren Lücken können Implantate als Basis für Brücken dienen, wodurch in vielen Fällen auf herausnehmbaren Zahnersatz verzichtet werden kann.<br><br>
                    Für Patienten mit herausnehmbarem Zahnersatz können Implantate gezielt eingesetzt werden, um den Halt der Prothese erheblich zu verbessern und ein kräftiges Zubeißen zu ermöglichen.<br><br>
                    In enger Kooperation mit erfahrenen Mund-Kiefer-Gesichtschirurgen bieten wir umfassende Beratung und entwickeln gemeinsam mit Ihnen das für Sie optimale Behandlungskonzept.
                </p>
                <!-- <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a> -->
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--             Side By Side Reverse 6           -->
    <!-- ============================================ -->
    <a id="prothesen"></a> <!-- ID used as internal link -->
    <section id="RPsbsr-70">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/services/prothese.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services/prothese.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/services/prothese.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Zahnersatz</h2>
                <p class="cs-text">
                    Bei einem erheblichen Verlust der Zahnsubstanz reicht eine Kunststoff-Füllung oft nicht aus, da sie dem anhaltenden Kaudruck nicht dauerhaft standhält. Eine Zahnkrone bietet eine Lösung, um die Funktion wiederherzustellen und den Zahn optimal zu schützen und zu stützen. Moderne Keramiken ermöglichen die Herstellung von Kronen, die sich kaum von Ihren natürlichen Zähnen unterscheiden.<br><br>
                    Der Verlust eines oder mehrerer Zähne kann zu verschiedenen Veränderungen führen, die nicht nur die Ästhetik beeinträchtigen, sondern auch die Kau- und Bissfähigkeit negativ beeinflussen können. Umgebende Zähne können in die entstandene Lücke kippen oder der Gegenüberzahn kann sich verändern, da der Druck seines Gegenparts fehlt. Dies kann zu Fehlbelastungen führen, die langfristig zu Problemen wie Kiefergelenksbeschwerden oder chronischen Kopfschmerzen führen können.<br><br>
                    Unser Zahnersatz wird ausschließlich regional gefertigt. In enger Zusammenarbeit mit einem örtlichen Meisterlabor und erfahrenen Mund-Kiefer-Gesichtschirurgen fertigen wir individuellen Zahnersatz an, von implantatgetragenen Einzelkronen bis hin zu komplexen Implantatarbeiten.
                </p>
                 <!-- Taken from RPsbs-1472 -->
                 <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Detaillierte Beratung
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Festsitzender Zahnersatz (Kronen und Brücken)
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Herausnehmbarer Zahnersatz (Modellgussprothese, Totale Prothese, Teleskopprothese)
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                        Implantatgetragener Zahnersatz
                    </li>
                </ul>
            </div>
        </div>
    </section>


{% endblock %}