---
title: 'Unsere Praxis'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'praxis/'
eleventyNavigation:
    key: Praxis
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/praxis.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Unsere Praxis</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero/banner_dentist.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-42">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Eindrücke aus unserer Praxis</span>
                    <h2 class="cs-title">Unsere Räumlichkeiten</h2>
                </div>
                <div class="cs-flex">
                    <p class="cs-text">
                        Die Behandlungsräume sind modern eingerichtet und technisch auf dem modernsten Stand. 
                        Wir freuen uns auf Ihrem Besuch. 
                    </p>

                    <!-- <a aria-label="view more pictures" href="" class="cs-link">
                        View More
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.84999C16.55 8.52999 16.01 8.75999 16.01 9.19999V11Z" fill="#14142B"/>
                        </svg>
                    </a>
                    -->
                </div>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/30951.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/30951.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/30951.jpg" alt="formerly dress you people outside" width="380" height="271">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/293.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/293.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/293.jpg" alt="formal dinner" width="380" height="271">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/12475.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/12475.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/12475.jpg" alt="formerly dress you people outside" width="780" height="582">
                </picture>
                <picture class="cs-picture cs-picture-4">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/1393.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/1393.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/1393.jpg" alt="recital" width="780" height="582">
                </picture>
                <picture class="cs-picture cs-picture-5">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/9355.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/9355.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/9355.jpg" alt="formal evening" width="380" height="271">
                </picture>
                <picture class="cs-picture cs-picture-6">
                    <source media="(max-width: 600px)" srcset="/assets/images/praxis/1242.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/praxis/1242.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/praxis/1242.jpg" alt="formal dinner" width="380" height="271">
                </picture>
            </div>
        </div>
    </section>
                                    


{% endblock %}