---
title: 'Team'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'team/'
eleventyNavigation:
    key: Team
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/team.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Unser Team</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero/banner_dentist.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero/banner_dentist.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>


    <!-- ============================================ -->
    <!--                Meet the Team                 -->
    <!-- ============================================ -->

    <section id="meet-team-1370">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Unsere Zahnärzte</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="/assets/images/team/female-dentist-with-dentistry-tools-isolated.jpg">
                            <source media="(min-width: 601px)"
                                    srcset="/assets/images/team/female-dentist-with-dentistry-tools-isolated.jpg">
                            <img decoding="async"
                                    src="/assets/images/team/female-dentist-with-dentistry-tools-isolated.jpg"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                            width="15" height="13">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                            width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                            width="15" height="13">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                            width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Dr. Esther Howard</span>
                        <span class="cs-job">Zahnärztin</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="/assets/images/team/friendly-dentist.jpg">
                            <source media="(min-width: 601px)"
                                    srcset="/assets/images/team/friendly-dentist.jpg">
                            <img decoding="async"
                                    src="/assets/images/team/friendly-dentist.jpg"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                    width="15" height="13">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                    width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                    width="15" height="13">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                    width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Dr. Leslie Alexander</span>
                        <span class="cs-job">Zahnarzt</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>
                                



    <!-- ============================================ -->
    <!--                Meet the Team                 -->
    <!-- ============================================ -->

    <section id="meet-team-1348">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Unsere medizinischen Fachangestellten</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-1.png">
                            <source media="(min-width: 601px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-1.png">
                            <img decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-1.png"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                            width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                            width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Esther Howard</span>
                        <span class="cs-job">Web Developer</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-2.png">
                            <source media="(min-width: 601px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-2.png">
                            <img decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-2.png"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                            width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                            width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Leslie Alexander</span>
                        <span class="cs-job">Marketing Expert</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-3.png">
                            <source media="(min-width: 601px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-3.png">
                            <img decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-3.png"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                            width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                            width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Jenny Wilson</span>
                        <span class="cs-job">UI/UX Designer</span>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-4.png">
                            <source media="(min-width: 601px)"
                                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-4.png">
                            <img decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-worker-4.png"
                                    alt="person" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-social">
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                            width="17" height="16">
                            </a>
                            <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                            width="22" height="22">
                            </a>
                            <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                            width="17" height="16">
                            </a>
                        </div>
                    </div>
                    <div class="cs-info">
                        <span class="cs-name">Wade Warren</span>
                        <span class="cs-job">SEO Expert</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>
                                        


{% endblock %}