/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-1127,
  #RPsbsr-1127 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #RPsbs-1127 .cs-container,
  #RPsbsr-1127 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #RPsbs-1127 .cs-content,
  #RPsbsr-1127 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RPsbs-1127 .cs-topper,
  #RPsbsr-1127 .cs-topper {
    color: #767676;
  }
  #RPsbs-1127 .cs-text,
  #RPsbsr-1127 .cs-text {
    margin-bottom: 1rem;
  }
  #RPsbs-1127 .cs-text:last-of-type,
  #RPsbsr-1127 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RPsbs-1127 .cs-ul,
  #RPsbsr-1127 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #RPsbs-1127 .cs-li,
  #RPsbsr-1127 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
  #RPsbs-1127 .cs-li:before,
  #RPsbsr-1127 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #RPsbs-1127 .cs-button-solid,
  #RPsbsr-1127 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RPsbs-1127 .cs-button-solid:before,
  #RPsbsr-1127 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }
  #RPsbs-1127 .cs-button-solid:hover:before,
  #RPsbsr-1127 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RPsbs-1127 .cs-image-group,
  #RPsbsr-1127 .cs-image-group {
    /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
    font-size: min(1.9vw, 0.64em);
    width: 41.0625em;
    height: 42.25em;
    /* offset the amount the cs-graphic overflows the container so it stays centerd on mobile and tablet, removed at desktop */
    margin-left: 6.75em;
    position: relative;
    z-index: 1;
  }
  #RPsbs-1127 .cs-picture,
  #RPsbsr-1127 .cs-picture {
    width: 41.0625em;
    height: 42.25em;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #RPsbs-1127 .cs-picture img,
  #RPsbsr-1127 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #RPsbs-1127 .cs-graphic,
  #RPsbsr-1127 .cs-graphic {
    width: 40.0625em;
    height: auto;
    position: absolute;
    left: -6.75em;
    top: 0;
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbs-1127 .cs-container,
  #RPsbsr-1127 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #RPsbs-1127 .cs-image-group,
  #RPsbsr-1127 .cs-image-group {
    /* reset the scale */
    font-size: min(1.2vw, 1em);
    margin: 0;
  }
  #RPsbs-1127 .cs-content,
  #RPsbsr-1127 .cs-content {
    width: 45%;
    /* prevent flexbox from squishing it */
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbs-1127,
  body.dark-mode #RPsbsr-1127 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #RPsbs-1127 .cs-topper,
  body.dark-mode #RPsbsr-1127 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #RPsbs-1127 .cs-title,
  body.dark-mode #RPsbs-1127 .cs-text,
  body.dark-mode #RPsbs-1127 .cs-li,
  body.dark-mode #RPsbsr-1127 .cs-title,
  body.dark-mode #RPsbsr-1127 .cs-text,
  body.dark-mode #RPsbsr-1127 .cs-li {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-1127 {
    background-color: #f7f7f7;
  }
  #RPsbsr-1127 .cs-image-group {
    margin-left: 0;
    margin-right: 6.75em;
  }
  #RPsbsr-1127 .cs-graphic {
    left: auto;
    right: -6.75em;
  }
}
/* Desktop - 360px */
@media only screen and (min-width: 64rem) {
  #RPsbsr-1127 .cs-image-group {
    margin: 0;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbsr-1127 {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1356 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 10;
  }
  #services-1356 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1356 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1356 .cs-topper {
    color: #767676;
  }
  #services-1356 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #services-1356 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1356 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 19.0625rem;
    margin: 0;
    padding: 0;
    background-color: #000;
    border-radius: 1.5rem;
    /* clips background image corners */
    overflow: hidden;
    box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
  #services-1356 .cs-item:hover .cs-background:before {
    background-color: var(--primary);
    opacity: 0.84;
  }
  #services-1356 .cs-item:hover .cs-background img {
    transform: scale(1.2);
  }
  #services-1356 .cs-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
    padding: 1.5rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #services-1356 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #services-1356 .cs-span {
    /* forces the h3 to alwasy be two lines */
    display: block;
  }
  #services-1356 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1356 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1356 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    transition: transform 0.6s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #services-1356 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #services-1356 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1356 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1356 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #services-1356 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}

/*# sourceMappingURL=local.css.map */
