---
title: 'Zahnarzt Heimfeld'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1427">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper"> Dr. Michael Meier - Zahnarzt</span>
                <h1 class="cs-title">Ihr Zahnarzt in Hamburgs Süden</h1>
                <p class="cs-text">
                    Ihre Zahnarztpraxis in Heimfeld – Spezialisten für gesunde Zähne
                </p>
                <div class="cs-button-group">
                    <a href="/leistungen" class="cs-button-solid cs-button1">Leistungen</a>
                    <a href="/kontakt" class="cs-button-solid cs-button2">Kontakt</a>
                </div>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/hero/dentist-with-dentistry-tools-isolated.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero/dentist-with-dentistry-tools-isolated.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/hero/dentist-with-dentistry-tools-isolated.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                  Content                     -->
    <!-- ============================================ -->

    <section id="content-1450">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Zahnärzte Dr. Meier</span>
                <h2 class="cs-title">Ihre Zahnarztpraxis Hamburg Heimfeld</h2>
                <p class="cs-text">
                    Wir begrüßen Sie in der Zahnarztpraxis von Dr. Meier. 
                    Seit zwei Jahrzehnten fühlen wir uns unseren Patienten mit einer Zahnheilkunde auf hohem Niveau, neuen Technologien und einem optimalen Fortbildungs­stand gleichermaßen verpflichtet.
                    Machen Sie sich ein Bild von unserem Praxisteam, dne hellen, freundlichen Praxisräumen und von unserem umfangreichen Leistungsspektrum. 
                    Wir freuen uns auf Ihren Besuch!
                </p>
                <div class="cs-button-group">
                    <a href="/leistungen" class="cs-button-solid cs-button1">Unsere Leistungen</a>
                    <a href="/team" class="cs-button-solid cs-button2">Zum Praxisteam</a>
                </div>
            </div>
        </div>
    </section>
                                
                             
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RPsbs-1127">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/team/friendly-dentist_centered.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/team/friendly-dentist_centered.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/team/friendly-dentist_centered.jpg" alt="person with box" width="657" height="676"  aria-hidden="true">
                </picture>
                <!--Circle Graphic-->
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-shape.svg" alt="graphic" width="641" height="660" aria-hidden="true">
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Kieferorthopäde</span>
                <h2 class="cs-title">Dr. Michael Meier</h2>
                <!-- <p class="cs-text">
                    We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies. Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
                </p> -->
                <ul class="cs-ul">
                    <li class="cs-li">Konservierende und ästhetische Zahnmedizin</li>
                    <li class="cs-li">Parodontologie</li>
                    <li class="cs-li">Zahnerhaltung</li>
                    <li class="cs-li">Prothetik</li>
                    <li class="cs-li">Endodontie</li>
                    <li class="cs-li">Kinderzahnheilkunde</li>
                </ul>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Discover More</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RPsbsr-1127">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/team/female-dentist-with-dentistry-tools-isolated_centered.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/team/female-dentist-with-dentistry-tools-isolated_centered.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/team/female-dentist-with-dentistry-tools-isolated_centered.jpg" alt="person with box" width="657" height="676"  aria-hidden="true">
                </picture>
                <!--Circle Graphic-->
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-shape.svg" alt="graphic" width="641" height="660" aria-hidden="true">
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Kieferorthopäde</span>
                <h2 class="cs-title">Dr. Michaela Meier</h2>
                <!-- <p class="cs-text">
                    Schwerpunkte:
                </p> -->
                <ul class="cs-ul">
                    <li class="cs-li">Konservierende und ästhetische Zahnmedizin</li>
                    <li class="cs-li">Implantologie</li>
                    <li class="cs-li">Prothetik</li>
                    <li class="cs-li">Endodontie</li>
                </ul>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Discover More</a>
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                    Services                  -->
    <!-- ============================================ -->
    
    <section id="services-1356">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Unsere Leistungen</span>
                <h2 class="cs-title">Moderne Zahnmedizin auf hohem Niveau</h2>
                <p class="cs-text">Erkenntnisse und Standards ändern sich heutzutage schnell – auch in der Zahnmedizin. Wir bieten Ihnen Bewährtes in unserer Zahnarztpraxis am Meierteich in Bielefeld – ebenso wie neue Materialien und Behandlungsmethoden aus dem Bereich der modernen Zahnheilkunde.</p>
                <br>
                <p class="cs-text">Wir bieten unseren Patienten ein breites allgemein-zahnärztliches Behandlungs­spektrum.</p> 
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="/leistungen/#zahnreinigung" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Professionelle</span> Zahnreinigung</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/zahnreinigung.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/zahnreinigung.jpg">
                        <img decoding="async" src="/assets/images/services/zahnreinigung.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/leistungen/#bleaching" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Bleaching</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/bleaching.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/bleaching.jpg">
                        <img decoding="async" src="/assets/images/services/bleaching.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/leistungen/#wurzelkanal" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Wurzelkanal-</span> Behandlung</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/wurzelkanalbehandlung.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/wurzelkanalbehandlung.jpg">
                        <img decoding="async" src="/assets/images/services/wurzelkanalbehandlung.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/leistungen/#parodontitis" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Parodontitis-</span> Behandlung</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/parodontitis.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/parodontitis.jpg">
                        <img decoding="async" src="/assets/images/services/parodontitis.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/leistungen/#implantate" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Implantate</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/implantate.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/implantate.jpg">
                        <img decoding="async" src="/assets/images/services/implantate.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/leistungen/#prothesen" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Zahnersatz</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/prothese.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/prothese.jpg">
                        <img decoding="async" src="/assets/images/services/prothese.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
            </ul>
        </div>
    </section>
                                        

{% endblock %}