/* PAGE-SPECIFIC STYLES FOR THE LEISTUNGEN PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-70,
    #RPsbsr-70 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-ul { // Taken from RPsbs-1472 
            width: 100%;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            column-gap: calc(40 / 16 * 1rem);
            row-gap: calc(16 / 16 * 1rem);
        }

        .cs-li { // Taken from RPsbs-1472 
            font-size: var(--bodyFontSize);
            list-style: none;
            font-weight: 700;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-icon { // Taken from RPsbs-1472 
            width: calc(24 / 16 * 1rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }
        
        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 95%;
            max-width: calc(550 / 16 * 1rem);
            margin: 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 312/335;
            border-radius: calc(16 / 16 * 1rem);
            z-index: 1;

            &:before {
                /* Top right box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #1a1a1a;
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
            }

            &:after {
                /* Bottom left box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #1a1a1a;
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                z-index: -1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: calc(16 / 16 * 1rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-70,
    #RPsbsr-70 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 9.5vw, 8rem);
        }

        .cs-picture {
            /* 328px - 502px */
            width: clamp(20.5rem, 37.5vw, 31.375rem);
            /* 440px - 520px */
            height: clamp(27.5rem, 40vw, 32.5rem);
            /* 16px - 20px */
            margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
            flex: none;
        }

        .cs-content {
            width: 45%;
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-70,
        #RPsbsr-70 {
            .cs-picture {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-70 {
        background-color: #f7f7f7;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #RPsbsr-70 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-picture {
            /* 16px - 20px */
            margin-right: clamp(1rem, 5vw, 1.25rem);
            /* forces it to the left */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-70 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

                                