/************************************** Opening times *************************/
.open-table {
    grid-column: 10/13;
    grid-row: 1/ span 3;
    width: 12em;
}

.open-table p {
	display: inline-block;
}

.open-title {
    text-align: left;
    font-size: calc(20 / 16 * 1rem);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: calc(12 / 16 * 1rem);
    color: var(--headerColor);
    display: block;
}

.open-day {
    text-align: left;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
}

.open-time {
	float: right;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
}

